#banner{
   max-width: 1024px;
    height: 400px;
    background-image:url(../images/tega.jpeg);
   display: flex;
   margin: 0 auto;
  background-size: cover;
  align-items:auto; 
padding: 50px;
    

}

.text-banner{color: aliceblue;width: 530px;
    height: 300px;
    

}

.foto{
    width: 500px;
    height: 300px;
    
 

 }

@media screen and (max-width:1024px) {

#banner{
    flex-direction: column;
    height: auto;
  

  
}
.text-banner{
    width: 100%;
    height: auto;
 
}
.foto{
    width: 100%;
    height: auto;


}
}